@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@keyframes revealLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideLogo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
}

.loadingLogo {
    margin: auto;
    width: 200px;
    opacity: 0; /* Set initial opacity to 0 */
    animation-fill-mode: forwards;
}

.loadingLogo.reveal {
    animation: revealLogo 3s forwards;
}

.loadingLogo.hide {
    animation: hideLogo 2s forwards;
}
