
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "M PLUS 2", sans-serif;
}


@keyframes slidein {
    0% {
      transform: scale(1);
        margin-top: 10vh;
        left: 0px;
        filter: brightness(1);
    }
    95% {
        transform: scale(6);
          margin-top: 10vh;
          margin-top: 30vh;
          position: relative;
        left: 20px;
      }
  
    100% {
      transform: scale(6);
      margin-top: 30vh;
      filter: brightness(0);

    }
  }

  @keyframes fadeOut {
    0% {
      filter: brightness(1);
    }
  
    100% {
      filter: brightness(0);

    }
  }
  
  @keyframes slidein2 {
    from {
      transform: scale(1);
        margin-top: 10vh;
        position: absolute;
        bottom: 11vh;
    }
  
    to {
      transform: scale(4);
      margin-top: 30vh;
      position: absolute;
        bottom: 0vh;
    }
  }



.mainContainer1{
    width: 100vw;
    height: 100vh;
    background-color: #050404;
    display: flex;
    /* background-image: url(../images/back2.jpg);
    background-size: cover; */
}

.landingImage{
    width:60%;
    height: 90%;
    margin: 0vh auto;
    z-index: 10;
}
.tableTop{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #3B3737;
    bottom: 11vh;
    -webkit-box-shadow: 0px 35px 4px 13px rgba(107,107,107,0.25);
-moz-box-shadow: 0px 35px 4px 13px rgba(107,107,107,0.25);
box-shadow: 0px 35px 4px 13px rgba(107,107,107,0.25);
}

.compBack{
    width: 30%;
    height: 40%;
    margin: auto;
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -80%);
    background-image: url(../images/backComp.png);
    background-size: cover;
    filter: brightness(0.8);

}

.startButtonContainer{
    border: none;
    width: 20%;
    height: 30%;
    z-index: 12;
    cursor: pointer;
    position: fixed;
    top: 32%;
    left: 49%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.startButton{
    margin: auto;
  width: 35%;
}

.windowsImage{
    width: 20%;
    height: 89%;
    margin: auto;
    margin-left: 10px;
    background-image: url(../images/windowsLogo.png);
    background-size: contain;
}
.startButtonText{
    width: 75%;
    text-align: center;
    margin: auto;

}

.animate {
    animation: slidein 3s forwards;
}
.animate2 {
    animation: slidein2 2s forwards;
}
.animate3 {
  animation: fadeOut 2s forwards;
}
.invisible {
    display: none;
}

.lightBox{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 500px 200px rgba(191, 229, 240, 0.553);
}

.profileIMGcontainer{
  width: 100%;
  height: 40%;
  margin: 0 auto;
  margin-top: 6vh;
  display: flex;
}
.inputContainer{
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: row;
}
.loginProfileIMG{
  margin: auto;
}
.username{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 5px;
}
.contSpace{
  width: 20%;
  height: 100%;
  display: flex;
}
.loginInput{
  width: 60%;
  height: 70%;
  margin: auto;
  border: #9ECBFF 1px solid;
  box-shadow: inset 0 0 0 .3px black;
  display: flex;

}
.loginProfileIMG::placeholder{
  color: #A49E9E;
  font-weight: 200;
}
@media only screen and (max-width: 600px) {
  .landingImage{
    width: 100%;
    height: 40%;
    margin: 40vh auto;
  }
  .lightBox{
    top: 70%;
  }
  .startButtonContainer{
    width: 50%;

    height: 25%;
    top:66%;
    left: 48%;
  }
  .profileIMGcontainer{
    margin-top: 0;
  }
  .loginProfileIMG{
    width: 30%;
  }
  .username{
    font-size: 12px;
    margin-top: -1vh;
  }
  .inputContainer{
    height: 12%;
    width: 80%;
    margin: 0 auto;
  }
}